{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/estilosAgendar.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilosNav.css' %}">   
</head>
    <header>
        <nav class="navbar">

            <div class="logo">
                <h1>Veterinaria Dos Patitas</h1>
            </div>

            <ul class="nav-links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'sucursales' %}">Sucursales</a></li>
            </ul>
            <a href="{% url 'agendar' %}" class="btn-nav">Agenda tu cita</a>

        </nav>
    </header>

    <body>
        <h2>Agenda tu cita con nosotros!</h2>
        <form action="">
            <h3>Datos del dueño</h3>
            <div>
                <label for="nombre">Nombre completo:</label>
                <input type="text" name="nombre" id="nombre">
            </div>
            <div>
                <label for="telefono">Telefono:</label>
                <input type="text" name="telefono" id="telefono">
            </div>
            <div>
                <label for="correo">Correo electronico:</label>
                <input type="text" name="correo" id="correo" >
            </div>
            <h3>Datos de la mascota</h3>
            <div>
                <label for="mascota">Nombre de la mascota:</label>
                <input type="text" name="mascota" id="mascota">
            </div>
            <div>
                <label for="edad">Edad:</label>
                <input type="text" name="edad" id="edad">
            </div>
            <div>
                <label for="especie">Especie:</label>
                <select name="especie" id="especie">
                    <option value="perro">Perro</option>
                    <option value="gato">Gato</option>
                </select>
            </div>
            <h3>Datos de la cita</h3>
            <div>
                <label for="sucursal">Sucursal:</label>
                <select name="sucursal" id="sucursal">
                    <option value="enramada">Enramada</option>
                    <option value="sanFernando">SanFernando</option>
                </select>
            </div>
            <div>
                <label for="servicio">Servicio:</label>
                <select name="servicio" id="servicio">
                    <option value="limpieza">Limpieza dental</option>
                    <option value="baño">Baño y corte</option>
                    <option value="ortopedia">Consulta ortopedica</option>
                    <option value="cardiologia">Consulta cardiologica</option>
                    <option value="desparacitacion">Desparacitación</option>
                    <option value="vacunacion">Vacunación</option>
                    <option value="general">Consulta general</option>
                </select>
            </div>
            <div>
                <label for="fecha">Fecha:</label>
                <input type="date" name="fecha" id="fecha">
            </div>
            <div>
                <label for="hora">Hora:</label>
                <input type="time" name="hora" id="hora">
            </div>
            <div>
                <label for="nota">Especificaciones:</label>
                <input type="text" name="nota" id="nota">
            </div>
            <button type="submit">Confirmar cita</button>
        </form>
    </body>
    <aside></aside>
    <footer></footer>
</html>