{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Dos Patitas-Sucursales</title>
    <link rel="stylesheet" href="{% static 'css/estilosSuc.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> 
</head>
<body>
        <header>
        <nav class="navBar">

            <div class="logo">
                <h1>Veterinaria Dos Patitas</h1>
            </div>

            <ul class="links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'sucursales' %}">Sucursales</a></li>
            </ul>

            <a href="{% url 'agendar' %}" class="botonCita">Agenda tu cita</a>

        </nav>
    </header>
    <main>
        <div class="sucursales animar">
            <h1>Nuestras Sucursales</h1>
            <p>En Veterinaria Dos Patitas nos expandimos para estar más cerca de ti y de tu mascota. Cada sucursal cuenta con el mismo equipo profesional y los mismos estándares de calidad que nos caracterizan.</p>
        </div>
         <div class="sucursalSeccion">
            <div class="sucursalHeader animar">
                <h2>Encuentra la clínica más cercana a ti!</h2>
            </div>
            <div class="sucursalesGrid">
                <div class="sucursalesCard animar">
                    <div class="ubicacion">
                        
                    </div>
                    <div class="nombreSucursal">
                        <h3>Sucursal Enramada</h3>
                        <p>Calle Bambu #241, Colonia Enramada III, Apodaca, Nuevo Leon </p>
                    </div>
                </div>
                <div class="sucursalesCard animar">
                    <div class="ubicacion">
                        
                    </div>
                    <div class="nombreSucursal">
                        <h3>Sucursal San Fernando</h3>
                        <p>Calle San Fernando #638, Colonia Jardines, Apodaca, Nuevo Leon</p>
                    </div>
                </div>
            </div>   
    </main>
    <aside></aside>
    <footer></footer>
</body>
</html>