{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Veterinaria Dos Patitas-Sucursales</title>
    <link rel="stylesheet" href="{% static 'css/estilosSuc.css' %}">
    <link rel="stylesheet" href="{% static 'css/estilos.css' %}"> 
</head>
<body>
        <header>
        <nav class="navBar">

            <div class="logo">
                <img src="{% static 'img/logo.png' %}" alt="logo">
                <h1>Veterinaria Dos Patitas</h1>
            </div>

            <ul class="links">
                <li><a href="{% url 'inicio' %}">Inicio</a></li>
                <li><a href="{% url 'nosotros' %}">Nosotros</a></li>
                <li><a href="{% url 'servicios' %}">Servicios</a></li>
                <li><a href="{% url 'sucursales' %}">Sucursales</a></li>
            </ul>

            <a href="{% url 'agendar' %}" class="botonCita">Agenda tu cita</a>

        </nav>
    </header>
    <main>
        <div class="sucursales animar">
            <h1>Encuentra la clínica más cercana a ti!</h1>
            <p>En Veterinaria Dos Patitas nos expandimos para estar más cerca de ti y de tu mascota. Cada sucursal cuenta con el mismo equipo profesional y los mismos estándares de calidad que nos caracterizan.</p>
        </div>
         <div class="sucursalSeccion animar">
            <div class="sucursalesFlex animar">
                <div class="sucursalesCard animar">
                    <div class="nombreSucursal animar">
                        <h3>Sucursal Enramada</h3>
                        <p>Calle Bambu #241, Colonia Enramada III, Apodaca, Nuevo Leon </p>
                        <p>Numero: 811-744-3536</p>
                        <p>Horario: Lunes a Domingo de 9am a 10pm</p>
                    </div>
                    <div class="ubicacion animacion">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.2248327576663!2d-100.2606712258953!3d25.76313627735099!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662eb52e578a261%3A0x4c0cedd66bdc381b!2sC.%20Bamb%C3%BA%20241-2%2C%20Enramada%20%C3%8CII%2C%2066635%20Cdad.%20Apodaca%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1779148763808!5m2!1ses-419!2smx" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
                <div class="sucursalesCard animar">
                    <div class="nombreSucursal animar">
                        <h3>Sucursal San Fernando</h3>
                        <p>Calle San Fernando #638, Colonia Jardines, Apodaca, Nuevo Leon</p>
                        <p>Numero: 811-645-2886</p>
                        <p>Horario: Lunes a Domingo 24hrs</p>
                    </div>
                    <div class="ubicacion animacion">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3594.5011238393304!2d-100.15287222589711!3d25.720936577377476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8662e9970d0b56e1%3A0xa75d9e8b8151c93d!2sSan%20Fernando%20638%2C%20Jardines%20de%20San%20Patricio%2C%2066647%20Cdad.%20Apodaca%2C%20N.L.!5e0!3m2!1ses-419!2smx!4v1779147034005!5m2!1ses-419!2smx" width="350" height="250" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    </div>
                </div>
            </div>   
    </main>
    <aside></aside>
    <footer>
        <div class="footerCont">
            <div class="footerVet animar">
                <h3>Veterinaria Dos Patitas</h3>
                <p>Cuidamos a tu mascota con amor, profesionalismo <br> y dedicación. Tu confianza es nuestra mayor responsabilidad.</p>
            </div>
            <div class="footerVet animar">
                <h4>Contacto</h4>
                <ul>
                    <li>📞 81 1234 5678</li>
                    <li>✉️ contacto@dospatitas.com</li>
                    <li>📍 Monterrey, Nuevo León</li>
                    <li>🕐 Lun - Sáb: 9:00am - 8:00pm</li>
                </ul>
            </div>
            <div class="footerVet animar">
                <h4>Síguenos</h4>
                <ul>
                    <li><a href="#">📘 Facebook</a></li>
                    <li><a href="#">📸 Instagram</a></li>
                    <li><a href="#">💬 WhatsApp</a></li>
                </ul>
            </div>
        </div>
        <div class="footerFondo">
            <p>© 2025 Veterinaria Dos Patitas. Todos los derechos reservados.</p>
        </div>
    </footer>

    <script src="{% static 'scroll.js' %}"></script>
</body>
</html>