* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: #4f1f64;

}

.formCita h3 {
    color: #4f1f64;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-size: 35px;
}

form {
    background: #b8a2c7 ;
    border-radius: 12px;
    padding: 30px;
    width: 800px;
    margin: 0 auto;

}

.formCita div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    color: #180129;
}

input, select {
    padding: 12px 14px;
    border-radius: 8px;
    background: #a08aaf;
    color: rgb(42, 14, 67);
    border: #a08aaf;
    outline: #3e2c49;
}

.botonEspecie {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    padding: 14px;
    border-radius: 10px;
}

button{
    background-color: #875f99;
    border:#a08aaf ;
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding: 12px 22px;
    border-radius: 30px;
    transition: 0.3s;
    color: aliceblue;
    box-shadow: black;

}

button:hover{
    background-color: #74378e;
    transform: translateY(-3px);
    box-shadow: 0 12px 30px #875f999f;
}

.animar {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animar.visible {
    opacity: 1;
    transform: translateY(0);
}

aside {
    width: 100%;
    background-color: white;
    padding: 10px 10px;
}