* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
}

h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 30px;
    margin-top: 30px;
    color: rgb(22, 9, 39);

}

h3 {
    color: #654679;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

form {
    background: #b5aabd ;
    border-radius: 12px;
    padding: 30px;
    width: 800px;
    margin: 0 auto;

}

div {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

label {
    color: #180129;
}

input, select {
    padding: 12px 14px;
    border-radius: 8px;
    background: #c3bdc7;
    color: rgb(42, 14, 67);
    border: #654679;
    outline: #3e2c49;
}

.botonEspecie {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    width: 160px;
    padding: 14px;
    border-radius: 10px;
}

button{
    background-color: #875f99;
    border-color:#875f99 ;
    color: white;
    padding: 12px 22px;
    border-radius: 30px;
    transition: 0.3s;
    color: aliceblue;
    box-shadow: black;
}



button:hover{
    background-color: #74378e;
    transform: translateY(-3px);
    box-shadow: 0 12px 30px #875f999f;
}

/*ANIMAR*/
.animar {
    opacity: 0;
    transform: translateY(40px);
    transition: opacity 0.6s ease, transform 0.6s ease;
}

.animar.visible {
    opacity: 1;
    transform: translateY(0);
}